<%= turbo_stream_from 'messages' %>

<%= link_to "Back to chats", chats_path %>

<h1><%= @chat.name %></h1>

<div id="messages">
  <% @chat.messages.each do |m| %>
    <%= render m %>
  <% end %>
</div>

<%= render "messages/form", message: Message.new(chat: @chat) %>


