<%= link_to "Back to chats", chats_path %>

<h1><%= @chat.name %></h1>

<%= turbo_stream_from 'messages' %>
<%= turbo_frame_tag 'messages' do %>
  <%= render @chat.messages %>
<% end %>

<%= turbo_frame_tag 'new_message_form' do %>
  <%= render "messages/form", message: Message.new(chat: @chat) %>
<% end %>

